{% macro render_field(field) %}
<div class="form-group">
  <label for="{{field.name}}">{{ field.label.text }}</label>
    {{ field(class_='form-control',**kwargs)|safe }}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li style="color:red;">Invalid Input</li>
        {% endfor %}
        </ul>
      {% endif %}
</div>
{% endmacro %}

{% macro render_password_field(field) %}
<div class="form-group">
  <label for="{{field.name}}" class="col-md-4 control-label" >{{ field.label.text }}</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">{{ field(class_='form-control',**kwargs)|safe }}
      {% if field.errors %}
      <ul class=errors>
        {% for error in field.errors %}
        <li style="color:red;">Password length must be between 8 to 25 characters</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_name_field(field) %}
<div class="form-group">
  <label for="{{field.name}}">{{ field.label.text }}</label>

    <div class="input-group">
      <span class="input-group-addon"><i class="material-icons" style="align-content:center; font-size:18px;">face</i></span>
        {{ field(class_='form-control',**kwargs)|safe }}
            {% if field.errors %}
              <ul class=errors>
                {% for error in field.errors %}
                  <li style="color:red;">Invalid Input</li>
                {% endfor %}
              </ul>
            {% endif %}
    </div>

</div>
{% endmacro %}

{% macro render_radio_fields(field) %}
<div class="form-group">
  <label  class="col-md-4 control-label" >{{ field.label.text }}</label>
  <div class="col-md-4">
    {% for subfield in field %}
    <div class="radio">
      <label>
        {{ subfield }}
        {{ subfield.label.text }}
      </label>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro render_login_field(field) %}
<div class="form-group">
  <label>{{ field.label }}</label>
  <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
      <li style="color:red;">Invalid Input</li>
      {% endfor %}
    </ul>
    {% endif %}
  </dd>
</div>
{% endmacro %}
