<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% from "_classconverter.html" import getPanelColorFromDownCountLength %}
{% from "_formhelpers.html" import render_field %}
{% extends 'nav_bar.html' %}
{% block title %}Residents Overview{% endblock %}
{% block additional_stylesheets %}
<!--
<script type="text/javascript" src="{{ url_for('static', filename='overview.js') }}"></script>
-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}"> -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/datepicker3.css" rel="stylesheet">
<link href="static/css/styles.css" rel="stylesheet">

<style>
a.deco-none {
	color: inherit;
	text-decoration: inherit;
}
</style>
{% endblock %}
{% block content %}
<!--<div class="col-lg-12">
<h1 class="page-header">Residents Overview</h1>
</div> -->
<!-- /.col-lg-12 -->



<form role="form" method="POST" action="/anomalies">
	<div class="panel panel-default" >
		<div class="panel-body" style="background-color:#f1f4f7">
		
			<div class="col-xs-12"><br><br>
				{{ form.csrf_token }}
				{{ render_field(form.startDate) }}
				{{ render_field(form.endDate) }}
				<br>
				<div class="form-group"> <br><button type=submit class="btn btn-primary">Submit</button><br><br></div>
			</div>
		</div>
	</div>
</form>

<div class="row"></div>

<div class="panel panel-default" >
	<div class="panel-body">
	<h4><b>Anomalies</b></h4>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style = "text-align:center">Date</th>
						<th style = "text-align:center">Resident Name</th>
						<th style = "text-align:center">Category</th>
						<th style = "text-align:center">Type</th>
						<th style = "text-align:center">Description</th>
					</tr>
				</thead>
				<tbody>
					{% for anomaly in anomalies %}
					<tr class='clickable-row' data-href="./overview/{{ anomaly['resident_id'] }}/{{ anomaly['date']}}#{{ anomaly['category']}}">
					<td>{{ anomaly['date']}}</td>
					<td>{{ anomaly['name']}}</td>
					<td>{{ anomaly[category]}}</td>
					<td>{{ anomaly['type']}}</td>
					<td>{{ anomaly['description']}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}
{% block footer%}
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});

jQuery(document).ready(function($) {
	$(".clickable-row").click(function() {
		window.location = $(this).data("href");
	});
});
</script>
{% endblock%}
