{% from "_formhelpers.html" import render_field %}
<html>
<head>
<title>Sample Title</title>
</head>
<body>
	<form method="POST" action="/anotherflask">
	   <dl>
	    {{ form.csrf_token }}
	    {{ render_field(form.name) }}
		   {{ render_field(form.date) }}
		   {{ render_field(form.falls) }}
		   {{ render_field(form.near_falls) }}
		   {{ render_field(form.consumption) }}
		   <dt>Number of time of toilet visit for (Urinal/Bowel)
			   <dd>
			   <select id="toilet_visits", name="toilet_visits">
				   {% for x in range(0, 20):%}
						<option value="{{x}}">{{x}}</option>
				   {% endfor %}
			   </select>
			   </dd>
		   {{ render_field(form.temperature) }}
		   {{ render_field(form.bp) }}
		   {{ render_field(form.submit) }}
	    </dl>
	</form>
</body>
</html>
