{% extends 'new_base.html' %}
{% block title %}Detailed Charts{% endblock %}
{% block additional_stylesheets %}
<style>
.dash-iframe {
    width:90vw;
}
@media (min-width: 768px) {
  .dash-iframe {
    position: inherit;
    width: 75vw;
  }
}
</style>
{% endblock %}
{% block content %}
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 dash-iframe">
            <iframe class="dash-iframe" style="height: 100vh;position: relative;" src="/insertsomeotherrandomstringhere" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
{% endblock %}
