<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% from "_classconverter.html" import getSWDFromAlertLength %}
{% from "_classconverter.html" import getPanelColorFromAlertLength %}
{% from "_classconverter.html" import getGMHFromAlertLength %}
{% from "_classconverter.html" import getFooterFromAlertLength %}
{% extends 'new_base.html' %}
{% block title %}{{ resident['name'] }} - Detailed Overview{% endblock %}
{% block additional_stylesheets %}
<!--
<script type="text/javascript" src="{{ url_for('static', filename='overview.js') }}"></script>
-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a.deco-none {
    color: inherit;
    text-decoration: inherit;
}
</style>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-1 col-md-1 col-s-1">
    </div>

    <div class="col-lg-2 col-md-2 col-s-2">
        <div class="panel panel-default" align="center">
            <div class="panel-body" align="center">
                <img src="https://image.freepik.com/free-photo/senior-woman-with-a-thumbs-up_1187-2563.jpg" alt="user image" style="width:140px;height:140px;" vertical-align: "baseline">
            </div>
            <a class="btn btn-primary btn-xs" role="button">Upload Photo</a><br>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="well">
            <h1>Resident: <b>{{ resident['name'] }}</br>
            </h1>
            <b>Age: </b>{{ resident['age'] }}
            <br><b>Date of Birth: </b> 1940
            <br><b>Admission Date: </b> 31 Mar 2018
            <br><b>Medical Information: </b> Diabetes, Dementia, Prone to falling
            <br><b>Fall risks: </b>{{ resident['fall_risk'] }}
            <br>
        </div>
    </div>
</div>
<div class="row"> {# edit here for night toilet usage #}
    <div class="col-lg-12">
        <div class="panel panel-{{ getPanelColorFromAlertLength(resident['toilet_alerts']|length) }}"> <!--Toilet Panel-->
            <div class="panel-heading">
                Night Toilet Usage Details
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-{{ 'red' if resident['check_indicator_night_toilet_ratio'] else 'default' }}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    Average percentage of night toilet usage in a day<br/>
                                    <span class="huge"><b>{{ '%0.2f'|format((resident['toilet_night_to_both_ratio'] * 100)|float) }}</b></span><b> %</b>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="panel panel-{{ 'red' if resident['check_indicator_night_toilet_ratio'] else 'default' }}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">


                                                <div id="night_toilet_ratio_chart" class="night_toilet_ratio_chart_class svg_container container-fluid"><!-- Plotly chart will be drawn inside this DIV --></div>
                                                <script>

                                                var xValue = [100 - {{ '%0.2f'|format((resident['toilet_night_to_both_ratio'] * 100)|float) }}];
                                                var xValue2 = [{{ '%0.2f'|format((resident['toilet_night_to_both_ratio'] * 100)|float) }}];;

                                                var yValue = ["% of Night Toilet Usage in a Day"]

                                                var trace1 = {
                                                    x: xValue2,
                                                    y: yValue,
                                                    width: 0.5,
                                                    name: 'Night',
                                                    orientation: 'h',
                                                    marker: {
                                                        color: 'rgb(100, 250, 96)',
                                                        width: 1
                                                    },
                                                    type: 'bar'

                                                };

                                                var trace2 = {
                                                    x: xValue,
                                                    y: yValue,
                                                    width: 0.5,
                                                    name: 'Day',
                                                    orientation: 'h',
                                                    type: 'bar',

                                                    marker: {
                                                        color: 'rgb(200,230,255)',
                                                        width: 1
                                                    }
                                                };

                                                var data = [trace1, trace2];

                                                var layout = {
													title: '% of Night Toilet Usage in a Day',
													titlefont: {
														size: 14,

													},

                                                    shapes: [
                                                        {
                                                            type: 'line',
                                                            xref: 'paper',
                                                            x0: 0.3,
                                                            y0: -0.3,
                                                            x1: 0.3,
                                                            y1: 0.3,
                                                            line:{
                                                                color: 'rgb(255, 0, 0)',
                                                                width: 3,
                                                                dash:'dot'
                                                            }
                                                        },


                                                    ],
                                                    barmode: 'stack',
                                                    autosize: true,
													height:250,
                                                    xaxis: {
                                                        autorange: true,
                                                        showgrid: true,
                                                        zeroline: false,
                                                        showline: true,
                                                        autotick: true,
                                                        ticks: '',
                                                        showticklabels: true
                                                    },
													yaxis: {
														showticklabels: false
													},
                                                    margin: {
                                                        t: 40, //top margin
                                                        l: 10, //left margin
                                                        r: 50
                                                    },
                                                    showlegend: true,
                                                    legend: {"orientation": "h",y:-0.2}
                                                };

                                                Plotly.newPlot('night_toilet_ratio_chart', data, layout, {displayModeBar: false});
                                                </script>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    Average number of night toilet usage
                                    <div class="huge"><b>{{ '%0.2f'|format((resident['number_of_night_toilet_usage_in_past_week'])|float) }}</b></div><b>Times</b>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div id="night_toilet_MA_chart" class="night_toilet_MA_chart_class svg-container container-fluid"></div>
                                <script>
                                var graphs = {{ night_toilet_MA_graph_json | safe }}

                                Plotly.newPlot('night_toilet_MA_chart', graphs.data, graphs.layout || {} , {displayModeBar: false});
                                window.onresize = function() {
                                    Plotly.Plots.resize('night_toilet_MA_chart');
                                    var window_height = window.innerHeight;
                                    var content_div_height = document.getElementById('night_toilet_MA_chart').offsetHeight;
                                    // workaround for bug in Plotly: when flexbox container gets smaller, graph does not shrink
                                    if (content_div_height > (window_height - 40)) {
                                        var svg_container = document.getElementById('night_toilet_MA_chart').getElementsByClassName('night_toilet_MA_chart_class')[0].getElementsByClassName('svg-container')[0];
                                        svg_container.style.height = (window_height - 40) + 'px';
                                        Plotly.Plots.resize('night_toilet_MA_chart');
                                    }

                                    Plotly.Plots.resize('night_toilet_ratio_chart');
                                    var window_height = window.innerHeight;
                                    var content_div_height = document.getElementById('night_toilet_ratio_chart').offsetHeight;
                                    // workaround for bug in Plotly: when flexbox container gets smaller, graph does not shrink
                                    if (content_div_height > (window_height - 40)) {
                                        var svg_container = document.getElementById('night_toilet_ratio_chart').getElementsByClassName('night_toilet_ratio_chart_class')[0].getElementsByClassName('svg-container')[0];
                                        svg_container.style.height = (window_height - 40) + 'px';
                                        Plotly.Plots.resize('night_toilet_ratio_chart');
                                    }
                                };

                                $(document).ready(function () {
                                    Plotly.Plots.resize('night_toilet_MA_chart');
                                    var window_height = window.innerHeight;
                                    var content_div_height = document.getElementById('night_toilet_MA_chart').offsetHeight;
                                    // workaround for bug in Plotly: when flexbox container gets smaller, graph does not shrink
                                    if (content_div_height > (window_height - 40)) {
                                        var svg_container = document.getElementById('night_toilet_MA_chart').getElementsByClassName('night_toilet_MA_chart_class')[0].getElementsByClassName('svg-container')[0];
                                        svg_container.style.height = (window_height - 40) + 'px';
                                        Plotly.Plots.resize('night_toilet_MA_chart');
                                    }

                                    Plotly.Plots.resize('night_toilet_ratio_chart');
                                    var window_height = window.innerHeight;
                                    var content_div_height = document.getElementById('night_toilet_ratio_chart').offsetHeight;
                                    // workaround for bug in Plotly: when flexbox container gets smaller, graph does not shrink
                                    if (content_div_height > (window_height - 40)) {
                                        var svg_container = document.getElementById('night_toilet_ratio_chart').getElementsByClassName('night_toilet_ratio_chart_class')[0].getElementsByClassName('svg-container')[0];
                                        svg_container.style.height = (window_height - 40) + 'px';
                                        Plotly.Plots.resize('night_toilet_ratio_chart');
                                    }
                                });
                                </script>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-{{ 'red' if resident['check_indicator_night_toilet_MA'] else 'info' }}">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                {{ 'Increase' if resident['number_of_night_toilet_usage_in_past_week_diff'] >= 0 else 'Decrease'}} of
                                                <span class="semihuge">
                                                    <i class="material-icons" style="vertical-align:sup; align-content:center">
                                                        trending_{{ 'up' if resident['number_of_night_toilet_usage_in_past_week_diff'] >= 0 else 'down' }}
                                                    </i>{{ '%0.2f'|format((resident['number_of_night_toilet_usage_in_past_week_diff'])|float|abs) }}
                                                </span><b>Times</b>
                                                compared to the past 3 weeks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> {# edit here for sleeping patterns #}
    <div class="col-lg-12">
        <div class="panel panel-{{ getPanelColorFromAlertLength(resident['sleep_alerts']|length) }}"> <!--Toilet Panel-->
            <div class="panel-heading">
                Sleeping Pattern Details
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    Average movement duration during sleeping hours
                                    <div class="huge"><b>{{ '%0.2f'|format((resident['average_motion_during_sleep'] / 60)|float) }}</b></div><b>Minutes</b>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="panel panel-{{ 'red' if resident['check_indicator_sleep_movements'] else 'info' }}">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                {{ 'Increase' if resident['average_motion_during_sleep_difference'] >= 0 else 'Decrease'}} of
                                                <span class="semihuge"><b>
                                                    <i class="material-icons" style="vertical-align:sup; align-content:center">
                                                        trending_{{ 'up' if resident['average_motion_during_sleep_difference'] >= 0 else 'down' }}
                                                    </i>{{ '%0.2f'|format((resident['average_motion_during_sleep_difference'] / 60)|float|abs) }}
                                                </b></span>
                                                <b>Minutes</b>
                                                compared to the past 3 weeks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    Longest uninterrupted sleep duration
                                    <div class="huge"><b>{{ '%0.2f'|format((resident['average_longest_uninterrupted_sleep'] / 3600)|float) }}</b>
                                    </div><b>Hours</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.actual on top, below just keep for now -->
{% endblock %}
