{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}
{% block title %}End of Shift Forms{% endblock %}
{% block content %}
<form method="POST" action="/raforms">
    <dl>
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.date)  }}
        {{ render_field(form.weight)  }}
        <br>
        <dt>Mental Behaviour Status
            <dd>
            <input type="checkbox" name="normal" value="normal" checked>Normal<br>
            <input type="checkbox" name="confusion" value="confusion" >Confusion<br>
            <input type="checkbox" name="restlessness" value="restlessness" >Restlessness<br>
            <input type="checkbox" name="agitation" value="agitation" >Agitation<br>
            <input type="checkbox" name="uncooperative" value="uncooperative" >Uncooperative<br>
            <input type="checkbox" name="hallucination" value="hallucination" >Hallucination<br>
            <input type="checkbox" name="drowsy" value="drowsy" >Drowsy<br>
            Others <input type="text" name="otherBehaviours" ><br>
            </dd>
        <br>
        <dt>Elderly needs assistance on daily activities (Tick box if yes)
        <dd>
            <input type="checkbox" name="medicine" value="medicine" >Taking medicine (without reminder)<br>
            <input type="checkbox" name="clothes" value="clothes" >Changing own clothes<br>
            <input type="checkbox" name="eating" value="eating" >Eating<br>
            <input type="checkbox" name="bathing" value="bathing" >Bathing<br>
            <input type="checkbox" name="walking" value="walking" >Walking<br>
            <input type="checkbox" name="toileting" value="toileting" >Toileting<br>
            Others <input type="text" name="otherAssistance" ><br>
        </dd>
        <br>
        <dt>Pain affecting level of function
        <dd>
            <input type="checkbox" name="noPain" value="noPain" checked>No pain<br>
            <input type="checkbox" name="general" value="general" >Generalised pain (abdominal, headache, etc.)<br>
            <input type="checkbox" name="joint" value="joint" >Musculoskeletal/Joint Pain<br>
            <input type="checkbox" name="critical" value="critical" >Critical Pain in other parts<br>
            Others <input type="text" name="otherPain" ><br>
        </dd>
        {{ render_field(form.medication_amount)  }}
        {{ render_field(form.hearing)  }}
        {{ render_field(form.vision)  }}
        {{ render_field(form.mobility)  }}
        {{ render_field(form.dependent)  }}
        {{ render_field(form.dependency)  }}
        {{ render_field(form.submit) }}
        </dl>
    </form>
    {% endblock %}
